In [8]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,r2_score

In [3]:
data = pd.read_csv("cars.csv")

In [5]:
data

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [6]:
cars = data.copy()

In [7]:
cars

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [10]:
cars["log_HP"] = np.log(cars["HP"])
cars['log_VOL'] = np.log(cars["VOL"])
cars["log_SP"] = np.log(cars["SP"])
cars["log_WT"] = np.log(cars["WT"])

In [11]:
cars

     HP        MPG  VOL          SP         WT    log_HP   log_VOL    log_SP    log_WT
0    49  53.700681   89  104.185353  28.762059  3.891820  4.488636  4.646172  3.359057
1    55  50.013401   92  105.461264  30.466833  4.007333  4.521789  4.658344  3.416639
2    55  50.013401   92  105.461264  30.193597  4.007333  4.521789  4.658344  3.407630
3    70  45.696322   92  113.461264  30.632114  4.248495  4.521789  4.731461  3.422049
4    53  50.504232   92  104.461264  29.889149  3.970292  4.521789  4.648816  3.397495
..  ...        ...  ...         ...        ...       ...       ...       ...       ...
76  322  36.900000   50  169.598513  16.132947  5.774552  3.912023  5.133434  2.780864
77  238  19.197888  115  150.576579  37.923113  5.472271  4.744932  5.014472  3.635561
78  263  34.000000   50  151.598513  15.769625  5.572154  3.912023  5.021236  2.758086
79  295  19.833733  119  167.944460  39.423099  5.686975  4.779123  5.123633  3.674352
80  236  12.101263  107  139.840817  34.948615  5.463832  4.672829  4.940505  3.553879

[81 rows x 9 columns]

In [12]:
model_1 = smf.ols(formula="MPG~HP+VOL+SP+WT",data=cars).fit()
print("AIC",model_1.aic)
print("BIC",model_1.bic)
print("Rsquared",model_1.rsquared)
print("Rsquared_Adj",model_1.rsquared_adj)

AIC 477.9279049354879
BIC 489.9001507088501
Rsquared 0.7705372737359842
Rsquared_Adj 0.7584602881431413

In [13]:
model_2 = smf.ols(formula="MPG~HP",data=cars).fit()
print("AIC",model_2.aic)
print("BIC",model_2.bic)
print("Rsquared",model_2.rsquared)
print("Rsquared_Adj",model_2.rsquared_adj)

AIC 530.7452702659343
BIC 535.5341685752792
Rsquared 0.5256806086282022
Rsquared_Adj 0.5196765656994453

In [14]:
model_3 = smf.ols(formula="MPG~VOL",data=cars).fit()
print("AIC",model_3.aic)
print("BIC",model_3.bic)
print("Rsquared",model_3.rsquared)
print("Rsquared_Adj",model_3.rsquared_adj)

AIC 564.5634161305575
BIC 569.3523144399023
Rsquared 0.27990086511227064
Rsquared_Adj 0.27078568618964105

In [15]:
model_4 = smf.ols(formula="MPG~SP",data=cars).fit()
print("AIC",model_4.aic)
print("BIC",model_4.bic)
print("Rsquared",model_4.rsquared)
print("Rsquared_Adj",model_4.rsquared_adj)

AIC 539.408199092848
BIC 544.1970974021929
Rsquared 0.4721402334141218
Rsquared_Adj 0.46545846421683224

In [16]:
model_5 = smf.ols(formula="MPG~WT",data=cars).fit()
print("AIC",model_5.aic)
print("BIC",model_5.bic)
print("Rsquared",model_5.rsquared)
print("Rsquared_Adj",model_5.rsquared_adj)

AIC 564.8358142145094
BIC 569.6247125238542
Rsquared 0.2774751389270127
Rsquared_Adj 0.2683292546096331